<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Editar Pedido</h1>
                    <hr>
                </div>
                <div class="card-body">
                    <form action="/pedido/update/" method="post">                
                        <label >Número do pedido:</label>
                        <input class="form-control" type="text" name="numero" id="numeroInput" value="<%= pedido.numero %>" required>
                        <label >Valor do pedido:</label>
                        <input class="form-control" type="text" name="valor" id="valorInput" value="<%= pedido.valor %>" required>                       
                        <input type="hidden" name="id" id="idInput" value="<%= pedido.id %>"  >
                        <br>
                        <input type="submit" class="btn btn-warning" value="alterar">
                    </form>
                    <hr>
                </div>
            </div>
        </div>
<%- include('partials/footer.ejs') %>